@import "tailwindcss";

@theme {
    --font-sans: var(--font-sans), ui-sans-serif, system-ui, sans-serif;
    --font-serif: var(--font-serif), ui-serif, Georgia, serif;

    --color-brand: #3b82f6;
    --color-brand-dim: #2563eb;
    --color-brand-light: #60a5fa;
}

:root {
    --background: #ffffff;
    --foreground: #0f172a;
}

body {
    background: var(--background);
    color: var(--foreground);
}